version: "3.7"
services:

  app:
    build:
      context: ./docker-compose/php
      dockerfile: Dockerfile
    image: php
    working_dir: /var/www/
    volumes:
      - ./:/var/www
      - ./docker-compose/php/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./docker-compose/php/php.ini:/usr/local/etc/php/php.ini
    networks:
      - rede

  db:
    build:
      context: ./docker-compose/postgres
      dockerfile: Dockerfile
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: transacao
      POSTGRES_PASSWORD: transacao
      POSTGRES_USER: transacao
    volumes:
      - ./docker-compose/postgres:/docker-entrypoint-initdb.d
      - ./docker-compose/postgres/db-data:/var/lib/postgresql/data
    networks:
      - rede

  apache:
    build:
      context: ./docker-compose/apache
      dockerfile: Dockerfile
    image: apache
    depends_on:
      - app
    networks:
      - rede
    ports:
      - "81:80"
    volumes:
      - ./:/var/www
      - ./docker-compose/apache/demo.apache.conf:/etc/apache2/sites-available/demo.apache.conf
      - ./docker-compose/apache/apache.conf:/etc/apache2/apache.conf

  mailhog:
    image: mailhog/mailhog
    #restart: always
    logging:
      driver: "none"
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - rede

networks:
  rede:
    driver: bridge
