<div class="container">
  <div class="row">
    <div class="col border">
      <b>Importado em:</b> {{ dataImportacao }}
    </div>
    <div class="col border">
      <b>Usuário:</b> {{ usuario }}
    </div>
    <div class="col border">
      <b>Data Transação:</b> {{ dataTransacao }}
    </div>
  </div>
</div>
