{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {% include 'import/_form.html.twig' %}
  {% include 'import/_grid.html.twig' %}
{% endblock %}
